<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom CSS File Link -->
    <link rel="stylesheet" href="./css/style.css" />
    <!-- Custom JS File Link -->
    <script src="./js/main.js" defer></script>
    <title>Movie Search - Filme</title>
  </head>
  <body>
    <!-- HEADER -->
    <header id="header" class="header" role="banner">
      <a href="/" class="logo" title="Movie"><img src="./assets/img/logo.png" alt="Logo Movie" /></a>

      <nav class="navigation-desktop" role="navigation" aria-level="main-navigation">
        <ul role="menu">
          <li role="menu-item"><a href="/" title="Movie">Home</a></li>
          <li role="menu-item"><a href="contato" title="Contato">Contato</a></li>
          <li role="menu-item">
            <a href="perfil" title="Perfil"><img src="./assets/icons/profile.svg" alt="Perfil" /></a>
          </li>
        </ul>
      </nav>

      <nav class="navigation-mobile" role="navigation" aria-level="main-navigation">
        <div class="toggle-menu">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>

          <ul class="menu-mobile" role="menu">
            <li role="menu-item"><a href="/" title="Movie">Home</a></li>
            <li role="menu-item"><a href="contato" title="Contato">Contato</a></li>
            <li role="menu-item">
              <a href="perfil" title="Perfil"><img src="./assets/icons/profile.svg" alt="Perfil" /></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- / HEADER -->

    <main>
      <!-- INFORMATION -->
      <section class="information" aria-label="Seção principal de informação">
        <div class="form-container">
          <div class="headline">
            <h1><span>F</span>aça sua busca</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, nisi!</p>
          </div>

          <form method="POST">
            <fieldset>
              <label for="target">Filme:</label>
              <input type="text" id="target" placeholder="Informe o nome do filme" />
            </fieldset>

            <div class="button" onclick="refreshSearch()">Pesquisar ;)</div>
          </form>
        </div>

        <article id="card" class="card"></article>
      </section>
      <!-- / INFORMATION -->

      <!-- DESCRIPTION -->
      <section id="description" class="description"></section>
      <!-- / DESCRIPTION -->
    </main>

    <!-- LOADER SUBMIT -->
    <div id="loader" class="loader-inactive">
      <div class="loader-content">
        <img src="./assets/img/loader.gif" alt="Carregando..." class="loader-icon" />
      </div>
    </div>
    <!-- / LOADER SUBMIT -->

    <!-- FOOTER -->
    <footer class="footer" role="contentinfo">
      <p>Copyright © 2022 - Todos os direitos reservados</p>
    </footer>
    <!-- / FOOTER -->

    <script>
      window.addEventListener("DOMContentLoaded", () => {
        refreshData();
      });
    </script>
  </body>
</html>
